{% trans_default_domain 'adminInterface' %}
{% set currentLocale = app.request.locale %}
<!DOCTYPE html{% block html_start %}{% endblock %}>
<html lang="{{ currentLocale }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}{{ block('page_title') }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/nfq-admin/css/app.css') }}">
        {% endblock %}
    {% endblock %}
</head>
<body data-locale="{{ currentLocale }}" {% block body_start %}{% endblock %}
      class="sidebar-mini {{ nfq_admin_context.skin|default("skin-black") }}">
<div class="wrapper">
    <header class="main-header">
        <a href="{{ url('admin_dashboard') }}" class="logo">
                <span class="logo-mini">
                    {% block logo_mini %}{{ 'admin.header.title_short'|trans|raw }}{% endblock %}
                </span>
            <span class="logo-lg">
                   {% block logo_large %}{{ 'admin.header.title'|trans|raw }}{% endblock %}
                </span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            {% block navbar_toggle %}
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">{{ 'admin.generic.toggle_nav'|trans }}</span>
                </a>
            {% endblock %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% block navbar_start %}{% endblock %}
                    {% block navbar_user %}
                        {% include '@NfqAdmin/Navbar/user.html.twig' with {user: app.user, showLogoutLink: true, showProfileLink: true} only %}
                    {% endblock %}
                    {% block navbar_end %}{% endblock %}
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            {% block sidebar_user %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include '@NfqAdmin/Sidebar/user-panel.html.twig' with {user: app.user} only %}
                {% endif %}
            {% endblock %}

            {% block sidebar_search %}
                {% include '@NfqAdmin/Sidebar/search-form.html.twig' only %}
            {% endblock %}

            {% block sidebar_nav %}
                {% if nfq_admin_context.knp_menu.enable %}
                    {% include '@NfqAdmin/Sidebar/knp-navigation.html.twig' only %}
                {% else %}
                    {% include '@NfqAdmin/Sidebar/navigation.html.twig' with {menu: menu} only %}
                {% endif %}
            {% endblock %}
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block page_title %}{{ 'admin.home_title'|trans }}{% endblock %}
                <small>{% block page_subtitle %}{{ 'admin.home_subtitle'|trans }}{% endblock %}</small>

                <div class="btn-group pull-right">
                    {% block page_header_buttons %}{% endblock %}
                </div>
            </h1>

            {% block breadcrumb %}
                {% if nfq_admin_context.knp_menu.enable %}
                    {% include '@NfqAdmin/Breadcrumb/knp-breadcrumb.html.twig' only %}
                {% else %}
                    {% include '@NfqAdmin/Breadcrumb/breadcrumb.html.twig' %}
                {% endif %}
            {% endblock %}
        </section>

        {% block page_content_before %}{% endblock %}

        <section class="{% block page_content_class %}content{% endblock %}">
            {% block page_content_start %}{{ include('@NfqAdmin/_partials/_flash_messages.html.twig') }}{% endblock %}
            {% block page_content %}{% endblock %}
            {% block page_content_end %}{% endblock %}
        </section>

        {% block page_content_after %}{% endblock %}
    </div>

    {% block footer %}
        {% include '@NfqAdmin/_partials/_footer.html.twig' %}
    {% endblock %}
</div><!-- wrapper -->
<!-- Loading animation -->
<div class="spinner hide"></div>

{% block scipts %}
    <script src="{{ asset('build/nfq-admin/js/app.js') }}"></script>
{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>
