{% trans_default_domain 'adminInterface' %}
{% import '@NfqAdmin/_macro/generic.html.twig' as macro %}
{% if user is not empty %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(user.avatar, user.username, 'user-image') }}
        <span class="hidden-xs">{{ user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(user.avatar, user.username) }}
            <p>
                {{ user.name }} - {{ user.title }}
                <small>{{ 'Member since %date%'|trans({'%date%': user.memberSince|date('m.Y') }) }}</small>
            </p>
        </li>
        {% if links %}
            <!-- Menu Body -->
            <li class="user-body">
                {% for link in links %}
                    <div class="col-xs-4 text-center">
                        <a href="{{ path(link.path, link.parameters) }}">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
        {% if showLogoutLink or showProfileLink %}
            <!-- Menu Footer-->
            <li class="user-footer">
                {% if showProfileLink %}
                    <div class="pull-left">
                        <a href="{{ path('user', {'id' : user.identifier}) }}"
                           class="btn btn-default btn-flat">{{ ''|trans }}</a>
                    </div>
                {% endif %}
                {% if showLogoutLink %}
                    <div class="pull-right">
                        <a href="{{ logout_path() }}"
                           class="btn btn-default btn-flat">{{ 'admin.header_menu.logout'|trans }}</a>
                    </div>
                {% endif %}
            </li>
        {% endif %}
    </ul>
</li>
{% endif %}
