<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% trans %}admin.general.title{% endtrans %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Core CSS - Include with every page -->
    <link href="{{ asset('bundles/nfqadmin/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nfqadmin/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ asset('bundles/nfqadmin/css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/nfqadmin/css/styles.css') }}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>

                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ error.message }}
                            </div>
                        {% endif %}
                        <form role="form" action="{{ path('admin_security_check') }}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" id="username" type="text" name="_username" value="{{ last_username }}" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password"  id="password" type="password" name="_password" value=""/>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" name="login" value="Login" class="btn btn-lg btn-success btn-block"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="{{ asset('bundles/nfqadmin/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/nfqadmin/js/bootstrap.min.js') }}"></script>
    {% block extra_js %}{% endblock %}
    </body>
</html>
